/* Selector {
    Property: value;
} */

body {
    background-image: url(ferrari_white.jpg);
    background-size: cover;
}

li {
    list-style: none;
    display: inline-block;
}

h2 {
    /* color: red; */
    color: #AE0E0E;
    text-align: center;
    /* border: #aa4139 5px solid; */
    /* border: rgb(255, 176, 170) 5px solid; */
    border: rgba(255, 176, 170, 0.5) 5px solid;
    /* border: rgb(0, 0, 255) 5px solid; */
    /* border: 5px dashed purple; */
    /* border: 5px solid purple; */
    cursor: pointer;
}

p {
    color: pink;
}

p {
    color: green;
}