body {
    margin: 0px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

h1 {
    font-family: fantasy;
    font-size: 3em;
    border-bottom: 2px solid pink;
    border-right: 2px solid pink;
    width: 400px;
    font-weight: normal;
    /* Unbold the text */
    text-align: center;
    /* Add a shadow to the text: below for experimental features on browsers that support it.
    -moz-box-shadow: 4px 4px 5px #888888; # Firefox 3.5+
    -ms-box-shadow: 4px 4px 5px #888888; # IE 9+
    -webkit-box-shadow: 4px 4px 5px #888888; # Safari 3.0+ and Chrome 4.0+
    -o-box-shadow: 4px 4px 5px #888888; # Opera 10.5+ */
    box-shadow: 4px 4px 5px #888888;
    margin: 10px 0px 10px 0px;
    margin-top: 10px;
    /* Add a margin of 10px on top and bottom, and 0px on left and right */
}


img {
    width: 450px;
    height: 300px;
    margin: 10px;
    transition: all 1s;
    /* Smooth transition for all properties over 1 second when an action occurs on the image */
}

img:hover {
    transform: scale(1.1);
    /* Scale the image to 110% on hover: CSS3 */

}